#mainDiv{
    display: flex;
    flex-direction: column;
}
#sonyaDiv{
    padding: 1vh;
    border: 1vh solid red;
    border-radius: 1vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 350px;
}
#paswordInput{
    height:6vh;
}
button{
    margin-right: 2vw;
}