:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
  }

  body {
    background-color: rgb(20, 20, 20);
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
  }

  .centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .leftMid {
    left: 0%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .rightTop {
    right: 0;
    position: absolute;
    top: 0;
    transform: translate(0, 0);
  }
  .leftTop {
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(0, 0);
  }

  #clickMe {
    color: red;
    animation: click 2s ease-in-out;
    animation-iteration-count: infinite;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px;
    pointer-events: none;
    width: 50vw;
    z-index: 3;
    left: 60%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
  }

  @keyframes click{
    0%{
        transform: scale(0.5) skewY(-8deg);
    }
    50%{
        transform: scale(0.8) skewY(-8deg);
    }
    100%{
        transform: scale(0.5) skewY(-8deg);
    }
  }

  #tiles {
    height: calc(100vh);
    width: calc(100vw);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
  }

  .tile {
    cursor: pointer;
    position: relative;
  }
  #mainCenteringDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    pointer-events: none;
    text-align: center;
    transition: opacity 1200ms ease;
    z-index: 3;
  }
    .fancy {
    color: var(--g2);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 8vw;
    margin: 0;
  }

  body.toggled > #mainCenteringDiv > #title {
    opacity: 0;
  }

  .simg{
    z-index: 5;
    height: 40vh;
    width: 15vw;
    position: absolute;
    pointer-events: none;
  }

  .left{
    left: -30vw;
    top: 10vh;
  }

  .right{
    right: -30vw;
    top: 10vh;
  }

  .animateLeft{
    animation: toLeft 2s forwards;
  }

  .animateRight{
    animation: toRight 2s forwards 2s;
  }

  @keyframes toLeft {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-650%) rotate(-355deg);
    }
  }

  @keyframes toRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(650%) translateY(100%) rotate(-365deg);
    }
  }

  #gift{
    height: 12vh;
    width: 12vw;
    z-index: 200;
    border-radius: 4vh;
    border: 0.5vh solid #333;
    position: absolute;
    display: flex;
    font-size: 3.5vh;
    align-items: center;
    justify-content: center;
    right: 5vw;
    bottom: 8vh;
    text-decoration: none;
    color: #fff;
    visibility: hidden;
  }

  #textleft{
    color: #fff;
    position: absolute;
    right: 35vw;
    bottom: 25vh;
    z-index: 200;
    height: 20vh;
    width: 15vw;
    opacity: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1.5vw;
    pointer-events: none;
  }
  .rainbow{
    color:#77567a;
  }

  #textright{
    color: #fff;
    position: absolute;
    left: 35vw;
    top: 15vh;
    z-index: 200;
    height: 20vh;
    width: 13vw;
    opacity: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1.5vw;
    pointer-events: none;
  }
  .visible{
    animation: aboba 1s 3s forwards;
  }
  .visible1{
    animation: aboba 1s 1s forwards;
  }
  @keyframes aboba {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }

  #banana-left{
    z-index: 200;
    height: 13vh;
    width: 6vw;
    opacity: 0;
    pointer-events: none;
  }
  #banana-right{
    z-index: 200;
    height: 13vh;
    width: 6vw;
    opacity: 0;
    pointer-events: none;
  }
  #musDiv{
    z-index: 200;
    opacity: 0;
    visibility: hidden;
  }
  i{
    box-shadow: 0px 0px 0.5vw 0.4vw #0ff;
    background-color: #0ff;
  }
  #centeringDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media(max-width: 768px){
    .simg{
      z-index: 5;
      height: 30vh;
      width: 30vw;
      position: absolute;
      pointer-events: none;
    }

    @keyframes toLeft {
      0%{
          transform: translateX(100%);
      }
      100%{
          transform: translateX(-280%) rotate(-355deg);
      }
    }

    @keyframes toRight {
      0%{
          transform: translateX(100%);
      }
      100%{
          transform: translateX(280%) translateY(150%) rotate(-365deg);
      }
    }

    #textleft{
      font-size: 3.5vw;
      right: 55vw;
      bottom: 20vh;
      height: 20vh;
      width: 30vw;
    }

    #textright{
      font-size: 3.5vw;
      left: 55vw;
      top: 15vh;
      z-index: 200;
      height: 20vh;
      width: 13vw;
    }
    #gift{
      width: 20vw;
    }
    #banana-left{
      left: 20vw;
      width: 12vw;
      height: 15vh;
    }
    #banana-right{
      right: 20vw;
      width: 12vw;
      height: 15vh;
    }
    @keyframes movemMus {
      0%{
          transform: translateX(100%);
      }
      100%{
          transform: translateX(440%);
      }
    }
    #title {
      color: white;
      font-family: "Rubik", sans-serif;
      font-size: 11vw;
    }
    .fancy {
      color: var(--g2);
      font-family: 'Dancing Script', cursive;
      font-size: 18vw;
      margin: 0;
    }
    
  #clickMe {
    color: red;
    animation: click 2s ease-in-out;
    animation-iteration-count: infinite;
    font-family: "Rubik", sans-serif;
    font-size: 8vw;
    margin: 0px;
    pointer-events: none;
    width: 50vw;
    z-index: 3;
    left: 55%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
  }
    
  }